
<% @job_applications.each do |job_application| %>
  <tr>
    <td><%= job_application.title %></td>
    <td><%= job_application.company_name %></td>
    <td><%= job_application.status %></td>
    <td><%= job_application.applied_on %></td>
    <td>
      <%= link_to 'Edit', edit_job_application_path(job_application), class: 'btn btn-warning' %>
    </td>
    <td>
      <%= link_to 'Delete', job_application, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </td>
    <td>
      <% if job_application.status == 'pending' %>
      <%= link_to 'Schedule Interview', schedule_interview_job_application_path(job_application), method: :patch, class: 'btn btn-info' %>
      <% end %>
    </td>
  </tr>
<% end %>