<h1>Job Application Details</h1>

<p>
  <strong>Title:</strong>
  <%= @job_application.title %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job_application.company_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job_application.status %>
</p>

<p>
  <strong>Applied On:</strong>
  <%= @job_application.applied_on %>
</p>

<%= link_to 'Edit', edit_job_application_path(@job_application), class: 'btn btn-warning' %>
<%= link_to 'Back', job_applications_path, class: 'btn btn-secondary' %>
<%= button_to 'Delete Permanently', job_application_path(@job_application), method: :delete, data: { confirm: 'Are you sure you want to delete this job application?' }, class: 'btn btn-danger mt-2' %>
